<%- include('../partials/header') %>

    <div class="card" id= "userInfo" style="width: 40rem;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="profileinfo-tab" data-toggle="tab" href="#profileinfo" role="tab" aria-controls="profileinfo" aria-selected="true">My Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="updateinfo-tab" data-toggle="tab" href="#updateinfo" role="tab" aria-controls="updateinfo" aria-selected="false">Update Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="friends-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="friends" aria-selected="false">Completed Courses</a>
        </li>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profileinfo" role="tabpanel" aria-labelledby="profileinfo-tab">
    <div class="userCard">
        <h5 class="userName">Name: <%= user.name %></h5>
            <p class="userEmail">Email: <%= user.email %></p>
            <div class="form-row">
                <div class="col-md-12">
                    <label for="bio">Bio:</label>
                <textarea rows="3" id="bio" class="form-control" name="bio"><%= user.bio %></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-warning">Update</button>
          </form>
    </div>
  </div>
        </div>
    </div>
    </div>
  
<%- include('../partials/footer') %>

